{% extends "base.html" %}
{%block title%}Coordniate Setting{%endblock%}

{%block content %}
<h1> This will be the page to override controls</h1>
<div class="dropdown show">
    <script>
        function dronePullup(drone)
        {
            alert('You selected drone: '+drone);

            var tag = document.createElement("form");
            var text = document.createTextNode("The Drone Stuff will go here");
            tag.appendChild(text);
            var element = document.getElementById("OverrideDronePanel");
            element.appendChild(tag);
        }
    </script>
    <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
      Select Drone
    </button>
    <div class="dropdown-menu">
      <option class="dropdown-item" onclick="dronePullup(1);">Drone 1</option>
      <a class="dropdown-item" onclick="dronePullup(2);">Drone 2</a>
      <a class="dropdown-item" onclick="dronePullup(3);">Drone 3</a>
    </div>
    <div id = "OverrideDronePanel">
        <form id = 'OverrideActions'>

        </form>
    </div>
  </div> 
{%endblock%}