<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <title>{% block title %}{% endblock %}</title>
    </head>

    <body onload="dronePullup()">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="/"><img src="/static/logo.jpg" width="30" height="30" class="d-inline-block align-top" alt="">Search and Rescue Drone</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
              <ul class="navbar-nav">
                <!--<li class="nav-item">
                  <a class="nav-link" href="/">Coordinate Input <span class="sr-only"></span></a>
                </li>!-->
              </ul>
            </div>
          </nav>
          <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    </body>

     <style>
        *{margin: 0;}
        #map {
              float: left;
              display: none;
              height: 500px;
              width:600px;
            }
        #coordinateInputList
        {
          float: left;
          display: none;
          height: 500px;
          width: 600px;
        }
        #DroneStats
        {
          float: left;
          display: none;
          height: auto;
          width: 600px;
        }

        #DroneOverride
        {
          float: left;
          display: none;
          height: auto;
          width: auto;
        }

        #Land
        {
          float: left;
        }

        #landLng
        {
          float: left;
          width: 140px;
        }

        #landLat
        {
          float: left;
          width: 140px;
        }
        
    </style>   

<!-- This form is the intial Drop down to pick the port -->
    <form method="post" action="/" id = "portnumberStuff">
      <div class="control-group">
        <h5>Enter Port Number:</h5>
          <div class="controls">
              <input type="text" name = "PortNumber">
          </div>
            <button onclick = 'dronePullup();' type="submit" class="btn btn-dark" name = "action1">Connect</button>
      </div>
    </form>
    <!-- Pulls up google maps API-->
    <div id = "map"></div>

    <!-- form to input 4 coordinates-->
    <form id = 'coordinateInputList' name = "test2">
      <div class="col">
        <h1 class = "display-4">Drone Status</h1>
        <table class="table">
          <thead class="thead-dark">
            <tr>
              <th scope="col">Drone Actions</th>
              <th scope="col"></th>
              <th scope="col"></th>
            </tr>
          </thead>
          <tbody id = "idk">
            <tr>
              <th scope="row">Message: </th>
              <td id = "DroneAction">Loading...</td>
              <td><a href=# id=statusButton><button id = 'missionreport' type = 'button' onclick = "" class="btn btn-dark" data-toggle="modal" data-target="#myModal" disabled>Mission Report</button></a></td>
            </tr>
          </tbody>
        </table>

        <h1 class = "display-4">Coordinates</h1>
        <table class="table">
          <thead class="thead-dark">
            <tr>
              <th scope="col">#</th>
              <th scope="col">Latitude</th>
              <th scope="col">Longitude</th>
            </tr>
          </thead>
          <tbody id = "pickedCoordinates">
          </tbody>
        </table>
        <a href=# id=startMission><button type = 'button' onclick = "" class="btn btn-dark">Submit</button></a>
        <a href=# id=clear><button type = 'button' class="btn btn-dark">Clear</button></a>
      </div>
    </form>

    <!-- Modal popup for finshed flight-->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModal" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle">Mission Report</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            X amount of bodies found
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>

    <!-- This script makes page not refresh on submit click-->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script type=text/javascript>
        $(function() {
              $('a#startMission').bind('click', function() {

            if(inputCoordinates.length < 5)
            {
              alert("Not enough points to search a square!");
              return;
            }

            else if(inputCoordinates.length > 5)
            {
              alert("Too many points");
              return;
            }

            $.ajax({
                type: "GET", 
                url: "http://127.0.0.1:5000/searchStarter", //localhost Flask
                data : {'coor1LAT' : inputCoordinates[1].getPosition().lat(),
                        'coor1LNG' : inputCoordinates[1].getPosition().lng(),
                        'coor2LAT' : inputCoordinates[2].getPosition().lat(),
                        'coor2LNG' : inputCoordinates[2].getPosition().lng(),
                        'coor3LAT' : inputCoordinates[3].getPosition().lat(),
                        'coor3LNG' : inputCoordinates[3].getPosition().lng(),
                        'coor4LAT' : inputCoordinates[4].getPosition().lat(),
                        'coor4LNG' : inputCoordinates[4].getPosition().lng()},
                contentType: "application/json",
            });
          });
        });
    </script>
    <script>
      $(function() {
        $('a#clear').bind('click', function() {

          locationSave = inputCoordinates[0];
          for (let i = 1; i < inputCoordinates.length; i++) {
            inputCoordinates[i].setMap(null);
          }
          inputCoordinates = [];
          inputCoordinates.push(locationSave);
          document.getElementById('pickedCoordinates').innerHTML = '';
          listnumber = 1;
          
    });
  });
            

    </script>
    <form id = 'DroneStats'>
      <h1 class = "display-4">Drone Information</h1>

<!---->
      <table class="table">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Catagory</th>
            <th scope="col">Status</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td style="font-weight:bold" >Drone Port</td>
            <td id ="dronePort"></td>
          </tr>
          <tr>
            <td style="font-weight:bold" >Current Location</td>
            <td id ="CurrentLocation"></td>
          </tr>
          <tr>
            <td style="font-weight:bold" >Battery Life</td>
            <td id ="BatteryLife"></td>
          </tr>
          <tr>
            <td style="font-weight:bold" >Voltage</td>
            <td id ="Voltage">Loading</td>
          </tr>
          <tr>
            <td style="font-weight:bold" >Current</td>
            <td id ="Current">Loading</td>
          </tr>
          <tr>
            <td style="font-weight:bold" >GPS</td>
            <td id ="GPS">Loading</td>
          </tr>
          <tr>
            <td style="font-weight:bold" >Velocity</td>
            <td id ="Velocity">Loading</td>
          </tr>
        </tbody>
      </table>
    </form>
    <!-- Telemetry updater-->
    <script>
      setInterval(function()
      { 
        if( "{{ flash_message }}" == "True")
          $.ajax({
            type:"GET",
            url:"http://127.0.0.1:5000/telemetryInfo",
            data:{},
            contentType: "application/json",
            success:function(data)
            {
              console.log(data);
              var Location = document.getElementById('CurrentLocation');
              Location.textContent = data.currentLocation.split("LocationGlobalRelative:").pop() ;
              
              var Battery = document.getElementById('BatteryLife');
              Battery.textContent = data.batteryLeft + "%";
              
              var Voltage = document.getElementById('Voltage');
              Voltage.textContent =  data.currVoltage;

              var Current = document.getElementById('Current');
              Current.textContent = data.currCurrent;
              
              var currGPS = document.getElementById('GPS');
              currGPS.textContent = data.vGPS;

              var currVelocity = document.getElementById('Velocity');
              currVelocity.textContent = data.currVelocity;

              var currAction = document.getElementById('DroneAction');
              currAction.textContent = data.CurrentAction;

              if(data.missionComplete)
              {
                var ReportButton = document.getElementById('missionreport');
                ReportButton.disabled = false;
              }


              inputCoordinates[0].setMap(null);
              var markerLocation = {lat: parseFloat(data.latitude), lng: parseFloat(data.longitude)};
              const image = "https://www.pngfind.com/pngs/m/53-533184_png-file-svg-clip-art-drone-png-transparent.png";
              var marker = new google.maps.Marker({position:markerLocation, map:map, 
                icon: {
                size: new google.maps.Size(35, 35),
                scaledSize: new google.maps.Size(35, 35),
                url: image 
                },});
                inputCoordinates[0] = marker;
              }
          });
      }, 5000);//time in milliseconds
    </script>

    <!-- Extra Sections for emergency landing, coming back, etc.-->
    <form id = 'DroneOverride'>
      <h1 class = "display-4">Drone Override</h1>
      <div class="col">
        <a href=# id=emergencyLand><button id = 'Emergency' type = 'button' onclick = "" class="btn btn-dark">Emergency Land</button></a>
      </div>
      <br>
      <div class="col">
        <a href=# id=RTLLand><button id = 'Retreat' type = 'button' onclick = "" class="btn btn-dark">Retreat</button></a>
      </div>
      <br>
    </form>
    <!--Emergency land button-->
    <script type=text/javascript>
      $(function() {
            $('a#emergencyLand').bind('click', function() {
          $.ajax({
              type: "GET", 
              url: "http://127.0.0.1:5000/emergencyLander", //localhost Flask
              data : {},
              contentType: "application/json",
          });
        });
      });
  </script>

  <!--Retreat button-->
  <script type=text/javascript>
      $(function() {
            $('a#RTLLand').bind('click', function() {
          $.ajax({
              type: "GET", 
              url: "http://127.0.0.1:5000/RTLLand", //localhost Flask
              data : {},
              contentType: "application/json",
          });
        });
      });
  </script>
    <script>
        // Initialized map UI
        var inputCoordinates = [];
        var Map;
        var listnumber = 1;
        // pulls up drone GUI after selecting port
        function dronePullup()
        {
          if("{{ flash_message }}" == "True")
          {
            var dronePicked = "{{ SelectedPort }}";

            document.getElementById('map').style.display = "inline-block";
            document.getElementById('coordinateInputList').style.display = "inline-block";
            document.getElementById('DroneStats').style.display = "inline-block";
            document.getElementById('DroneOverride').style.display = "inline-block";

            
            document.getElementById('portnumberStuff').style.display = "none";
            fetechDroneStats(dronePicked);
          }
        }

        // gets hard codeded numbers for now when connection happens it'll use get for drone stats
        function fetechDroneStats(dronenum)
        {
          var location = {lat: parseFloat('{{lat}}'), lng: parseFloat('{{lng}}')};
          map = new google.maps.Map(document.getElementById('map'), {zoom: 16,center: location}); 
          const image = "https://www.pngfind.com/pngs/m/53-533184_png-file-svg-clip-art-drone-png-transparent.png";
          var marker = new google.maps.Marker({position:location, map:map, animation: google.maps.Animation.DROP, 
            icon: {
          size: new google.maps.Size(35, 35),
          scaledSize: new google.maps.Size(35, 35),
          url: image 
          },});
          inputCoordinates.push(marker);

          var ID = document.getElementById('dronePort');
          ID.textContent ="{{Port}}";
        
          var Location = document.getElementById('CurrentLocation');
          Location.textContent = "{{location}}".split("LocationGlobalRelative:").pop() ;

          var Battery = document.getElementById('BatteryLife');
          Battery.textContent = "{{ Battery }}"+ "%";
        
          map.addListener("click", (event) => {addMarker(event.latLng);});

        }
        
        function addMarker(position) {
          const marker = new google.maps.Marker({
            position,
            map, draggable: false,animation: google.maps.Animation.DROP
          });

          inputCoordinates.push(marker);
          document.getElementById('pickedCoordinates').innerHTML += ('<tr><th scope="row">' + listnumber + '</th><td>' + marker.getPosition().lat()+ '</td><td>' + marker.getPosition().lng() + '</td></tr>');
          listnumber += 1;
        }

    </script>
    <script async src = "https://maps.googleapis.com/maps/api/js?key=AIzaSyAB7MbKvVHLspmx_69G-eTAUtCHwJqJlgY&callback=initMAP"></script>
    
</html>