<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <title>{% block title %}{% endblock %}</title>
    </head>

    <body onload="dronePullup()">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="/"><img src="/static/logo.jpg" width="30" height="30" class="d-inline-block align-top" alt="">Search and Rescue Drone</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
              <ul class="navbar-nav">
                <li class="nav-item">
                  <a class="nav-link" href="/">Coordinate Input <span class="sr-only"></span></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/NMEAdecoder">NMEA decoder</a>
                </li>
              </ul>
            </div>
          </nav>

        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    </body>

     <style>
        *{margin: 0;}
        #map {
              float: left;
              display: none;
              height: 500px;
              width:600px;
            }
        #coordinateInputList
        {
          float: left;
          display: none;
          height: 500px;
          width: 600px;
        }
        #DroneStats
        {
          float: left;
          display: none;
          height: auto;
          width: 600px;
        }

        #DroneOverride
        {
          float: left;
          display: none;
          height: auto;
          width: auto;
        }

        #Land
        {
          float: left;
        }

        #landLng
        {
          float: left;
          width: 140px;
        }

        #landLat
        {
          float: left;
          width: 140px;
        }
        
    </style>   

<!-- This form is the intial Drop down to pick the port -->
    <form method="post" action="/">
      <div class="control-group">
          <label class="control-label">Enter Port Number:</label>
          <div class="controls">
              <input type="text" name = "PortNumber">
          </div>
            <button onclick = 'dronePullup();' type="submit" class="btn btn-primary" name = "action1">Submit</button>
      </div>
    </form>

    <!-- Pulls up google maps API-->
    <div id = "map"></div>

    <!-- form to input 4 coordinates-->
    <form id = 'coordinateInputList' name = "test2">
      <h1>Search Area Input</h1>
      <div class="col">
        <label >Coordinate 1: </label>
        <input class="form-control" id="coor1Lat" aria-describedby="emailHelp" placeholder="Enter latitude" name = "test">
        <input class="form-control" id="coor1Lng" aria-describedby="emailHelp" placeholder="Enter longitude">
      </div>
      <div class="col">
        <label >Coordinate 2: </label>
        <input class="form-control" id="coor2Lat" aria-describedby="emailHelp" placeholder="Enter latitude">
        <input class="form-control" id="coor2Lng" aria-describedby="emailHelp" placeholder="Enter longitude">
      </div>
      <div class="col">
        <label >Coordinate 3: </label>
        <input class="form-control" id="coor3Lat" aria-describedby="emailHelp" placeholder="Enter latitude">
        <input class="form-control" id="coor3Lng" aria-describedby="emailHelp" placeholder="Enter longitude">
      </div>
      <div class="col">
        <label >Coordinate 4: </label>
        <input class="form-control" id="coor4Lat" aria-describedby="emailHelp" placeholder="Enter latitude">
        <input class="form-control" id="coor4Lng" aria-describedby="emailHelp" placeholder="Enter longitude">
      </div>
      <div class="col">
        <a href=# id=startMission><button type = 'button' onclick = "initMAP()" class="btn btn-primary">Submit</button></a>
        <button type = 'clear' class="btn btn-primary">Clear</button>
      </div>
    </form>

    <!-- This script makes page not refresh on submit click-->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script type=text/javascript>
        $(function() {
              $('a#startMission').bind('click', function() {
            var coor1Lat = document.getElementById('coor1Lat').value;
            var coor1Lng = document.getElementById('coor1Lng').value;
            var coor2Lat = document.getElementById('coor2Lat').value;
            var coor2Lng = document.getElementById('coor2Lng').value;
            var coor3Lat = document.getElementById('coor3Lat').value;
            var coor3Lng = document.getElementById('coor3Lng').value;
            var coor4Lat = document.getElementById('coor4Lat').value;
            var coor4Lng = document.getElementById('coor4Lng').value;

            
            $.ajax({
                type: "GET", 
                url: "http://127.0.0.1:5000/searchStarter", //localhost Flask
                data : {'coor1LAT' : coor1Lat,
                        'coor1LNG' : coor1Lng,
                        'coor2LAT' : coor2Lat,
                        'coor2LNG' : coor2Lng,
                        'coor3LAT' : coor3Lat,
                        'coor3LNG' : coor3Lng,
                        'coor4LAT' : coor4Lat,
                        'coor4LNG' : coor4Lng},
                contentType: "application/json",
            });
          });
        });
    </script>
    <form id = 'DroneStats'>
      <h1>Drone Information</h1>
      <div class="col">
        <label id = 'DroneID'>Drone ID: </label>
      </div>
      <div class="col">
        <label id = "CurrentLocation">Current Location: </label>
      </div>
      <div class="col">
        <label id = "BatteryLife">Battery life: </label>
      </div>
      <div class="col">
        <label id = "Voltage">Voltage: Loading</label>
      </div>
      <div class="col">
        <label id = "Current">Current: Loading</label>
      </div>
      <div class="col">
        <label id = "GPS">GPS: Loading</label>
      </div>
      <div class="col">
        <label id = "Velocity">Velocity: Loading</label>
      </div>
    </form>
    <!-- Telemetry updater-->
    <script>
      setInterval(function()
      { 
        if( "{{ flash_message }}" == "True")
          $.ajax({
            type:"GET",
            url:"http://127.0.0.1:5000/telemetryInfo",
            data:{},
            contentType: "application/json",
            success:function(data)
            {
              console.log(data);
              var Location = document.getElementById('CurrentLocation');
              Location.textContent = 'Current Location: ' + data.currentLocation.split("LocationGlobalRelative:").pop() ;
              
              var Battery = document.getElementById('BatteryLife');
              Battery.textContent = "Battery Life: " + data.batteryLeft + "%";
              
              var Voltage = document.getElementById('Voltage');
              Voltage.textContent = "Voltage: " + data.currVoltage;

              var Current = document.getElementById('Current');
              Current.textContent = "Current: " + data.currCurrent;
              
              var currGPS = document.getElementById('GPS');
              currGPS.textContent = "GPS: " + data.vGPS;

              var currVelocity = document.getElementById('Velocity');
              currVelocity.textContent = "Velocity: " + data.currVelocity;

            }
          });
      }, 10000);//time in milliseconds       
    </script>

    <!-- Extra Sections for emergency landing, coming back, etc.-->
    <form id = 'DroneOverride'>
      <h1>Drone Override</h1>
      <div class="col">
        <a href=# id=emergencyLand><button id = 'Emergency' type = 'button' onclick = "" class="btn btn-primary">Emergency Land</button></a>
      </div>
      <br>
      <div class="col">
        <a href=# id=RTLLand><button id = 'Retreat' type = 'button' onclick = "" class="btn btn-primary">Retreat</button></a>
      </div>
      <br>

      <div class="col">
        <button id= 'Land' type = 'button' onclick = "" class="btn btn-primary">Land at Location: </button>
        <input class="form-control" id="landLng" aria-describedby="emailHelp" placeholder="Enter longitude">
        <input class="form-control" id="landLat" aria-describedby="emailHelp" placeholder="Enter latitude">
      </div>
    </form>
    <!--Emergency land button-->
    <script type=text/javascript>
      $(function() {
            $('a#emergencyLand').bind('click', function() {
          $.ajax({
              type: "GET", 
              url: "http://127.0.0.1:5000/emergencyLander", //localhost Flask
              data : {},
              contentType: "application/json",
          });
        });
      });
  </script>

  <!--Retreat button-->
  <script type=text/javascript>
      $(function() {
            $('a#RTLLand').bind('click', function() {
          $.ajax({
              type: "GET", 
              url: "http://127.0.0.1:5000/RTLLand", //localhost Flask
              data : {},
              contentType: "application/json",
          });
        });
      });
  </script>
    <script>
        // Initialized map UI
        function initMAP()
        {

          var location1 = {lat: parseFloat(document.getElementById('coor1Lat').value), lng: parseFloat(document.getElementById('coor1Lng').value)};
          var location2 = {lat: parseFloat(document.getElementById('coor2Lat').value), lng: parseFloat(document.getElementById('coor2Lng').value)};
          var location3 = {lat: parseFloat(document.getElementById('coor3Lat').value), lng: parseFloat(document.getElementById('coor3Lng').value)};
          var location4 = {lat: parseFloat(document.getElementById('coor4Lat').value), lng: parseFloat(document.getElementById('coor4Lng').value)};

          if(Number.isNaN(location1.lat) || Number.isNaN(location2.lat) ||Number.isNaN(location3.lat) ||Number.isNaN(location4.lat)||
          Number.isNaN(location1.lng)||Number.isNaN(location2.lng)||Number.isNaN(location3.lng)||Number.isNaN(location4.lng))
          {
            var location = {lat: 28.6024, lng: -81.2001};
            var map = new google.maps.Map(document.getElementById('map'),
            {zoom: 15,center: location});
            return;
          }
          else
          {
            var middleLat = (location1.lat+location2.lat+location3.lat+location4.lat)/4;
            var middleLng = (location1.lng + location2.lng +location3.lng + location4.lng)/4;
            var location = {lat: middleLat, lng: middleLng};
          }

          var map = new google.maps.Map(document.getElementById('map'),
          {zoom: 15,center: location}); 
          var marker = new google.maps.Marker({position:location1, map:map});
          var marer2 = new google.maps.Marker({position:location2, map:map});
          var marer3 = new google.maps.Marker({position:location3, map:map});
          var marer4 = new google.maps.Marker({position:location4, map:map});


        }

        // pulls up drone GUI after selecting port
        function dronePullup()
        {
          if("{{ flash_message }}" == "True")
          {
            var dronePicked = "{{ SelectedPort }}";

            document.getElementById('map').style.display = "inline-block";
            document.getElementById('coordinateInputList').style.display = "inline-block";
            document.getElementById('DroneStats').style.display = "inline-block";
            document.getElementById('DroneOverride').style.display = "inline-block";

            fetechDroneStats(dronePicked);
          }
        }

        // gets hard codeded numbers for now when connection happens it'll use get for drone stats
        function fetechDroneStats(dronenum)
        {
          var location = {lat: 28.6024, lng: -81.2001};
          var map = new google.maps.Map(document.getElementById('map'),
          {zoom: 15,center: location}); 
          var marker = new google.maps.Marker({position:location, map:map});

          var ID = document.getElementById('DroneID');
          ID.textContent ='Drone Port: '+ "{{Port}}";

        
          var Location = document.getElementById('CurrentLocation');
          Location.textContent = 'Current Location:' +"{{location}}".split("LocationGlobalRelative:").pop() ;

          var Battery = document.getElementById('BatteryLife');
          Battery.textContent = "Battery Life: " + "{{ Battery }}"+ "%";


          var status = document.getElementById('Status');
          status.textContent = "Status: Not Active";
          
        }

    </script>
    <script async defer src = "https://maps.googleapis.com/maps/api/js?key=AIzaSyAB7MbKvVHLspmx_69G-eTAUtCHwJqJlgY&callback=initMAP"></script>
    
</html>